<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <script src="jquery-3.6.0.min.js"></script>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <script src="bootstrap.min.js"></script>
    <script src="moment.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap-theme.min.css">
    <link rel="stylesheet" href="pretty-checkbox.min.css">
</head>

<body>
    <div id="main" ng-app="vaxapp" ng-controller="vacCtrl" ng-cloak>
        <div class="row">
            <div class="col-sm-12">
                <h1 style="text-align:center">{{appName}} <a href="https://selfregistration.cowin.gov.in/"><img
                            height="30px" src="https://prod-cdn.preprod.co-vin.in/assets/images/covid19logo.jpg" /></a>
                </h1>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <ul class="nav nav-tabs" ng-init="view='dist'" style="background:#ccc">
                            <li class="active" ng-click="view='dist';resetInterval()"><a data-toggle="tab">Find
                                    By
                                    District</a></li>
                            <li ng-click="view='pin';resetInterval()"><a data-toggle="tab">Find By
                                    Pin Code</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="panel panel-primary" ng-show="view=='dist'">
                            <div class="panel-heading">
                                <h3 class="panel-title">Please enter details to find out the vaccine details</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <form name="slotDistrictForm"
                                        ng-submit="slotDistrictForm.$valid?trackByDistrict(selectedDistrict):null">
                                        <div class="col-sm-12">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="exampleFormControlSelect2">State *</label>
                                                    <select class="form-control" id="exampleFormControlSelect2"
                                                        ng-model="selectedState" required
                                                        ng-change="getDistrictByState(selectedState)"
                                                        ng-options="state.state_id as state.state_name for state in stateList">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="exampleFormControlSelect3">District *</label>
                                                    <select class="form-control" id="exampleFormControlSelect3"
                                                        ng-model="selectedDistrict" required
                                                        ng-options="district.district_id as district.district_name for district in districtList">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="exampleFormControlSelect4">Track Interval *</label>
                                                    <select class="form-control" id="exampleFormControlSelect4"
                                                        ng-model="selectedInterval" required
                                                        ng-options="t.value as t.name for t in IntervalList">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-primary">Start</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-primary" ng-show="view=='pin'">
                            <div class="panel-heading">
                                <h3 class="panel-title">Please enter details to find out the vaccine details</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <form name="slotPinForm"
                                        ng-submit="slotPinForm.$valid?trackByPin(selectedPin):null">
                                        <div class="col-sm-12">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="slotPinFormSelect2">Pin Code *</label>
                                                    <input type="text" ng-model="selectedPin" class="form-control"
                                                        required />
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="exampleFormControlSelect4">Track Interval *</label>
                                                    <select class="form-control" id="slotPinFormSelect5"
                                                        ng-model="selectedInterval" required
                                                        ng-options="t.value as t.name for t in IntervalList">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-primary">Start</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-offset-3" ng-show="slotList7DaysMaster.centers.length>0">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">7 Days Slots<button class="btn btn-xs btn-info pull-right"
                                        ng-if="beepInterval" ng-click="stopBeep()">Stop Alarm</button></h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12 mg-b-10">
                                        <ul class="optionsUl">
                                            <li>
                                                <div class="pretty p-default p-smooth p-bigger">
                                                    <input class="styled-checkbox" id="COVAXIN" type="checkbox"
                                                        ng-model="filter.isCovaxin" ng-change="filterThisData(filter)"
                                                        value="COVAXIN">
                                                    <div class="state p-success">
                                                        <label for="COVAXIN">COVAXIN</label>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="pretty p-default p-smooth p-bigger">
                                                    <div class="pretty p-default ">
                                                        <input class="styled-checkbox" id="COVISHIELD" type="checkbox"
                                                            ng-model="filter.isCovishield"
                                                            ng-change="filterThisData(filter)" value="COVISHIELD">
                                                        <div class="state p-success">
                                                            <label for="COVISHIELD">COVISHIELD</label>
                                                        </div>
                                                    </div>
                                            </li>
                                            <li>
                                                <div class="pretty p-default p-smooth p-bigger">
                                                    <input class="styled-checkbox" id="Free" type="checkbox"
                                                        ng-model="filter.isFree" ng-change="filterThisData(filter)"
                                                        value="Free">
                                                    <div class="state p-success">
                                                        <label for="Free">Free</label>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="pretty p-default p-smooth p-bigger">
                                                    <input class="styled-checkbox" id="Paid" type="checkbox"
                                                        ng-model="filter.isPaid" ng-change="filterThisData(filter)"
                                                        value="Paid">
                                                    <div class="state p-success">
                                                        <label for="Paid">Paid</label>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="pretty p-default p-smooth p-bigger">
                                                    <input class="styled-checkbox" id="45+" type="checkbox"
                                                        ng-model="filter.is45" ng-change="filterThisData(filter)"
                                                        value="45">
                                                    <div class="state p-success">
                                                        <label for="45+">45+ Years</label>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="pretty p-default p-smooth p-bigger">
                                                    <input class="styled-checkbox" id="18+" type="checkbox"
                                                        ng-model="filter.is18" ng-change="filterThisData(filter)"
                                                        value="18">
                                                    <div class="state p-success">
                                                        <label for="18+">18 + Years</label>
                                                    </div>
                                                </div>
                                            </li>
                                            <li><a href="https://selfregistration.cowin.gov.in/">Go to Co-WIN Portal</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-12">
                                        <ul style="overflow:auto;width: 100%;">
                                            <li>
                                                <div>
                                                    <table class="table table-condensed">
                                                        <tr>
                                                            <th>Center</th>
                                                            <th ng-repeat="day in sevenDays"
                                                                ng-bind="moment(day).format('DD-MMM-YYYY')"></th>
                                                        </tr>
                                                        <tr ng-repeat="center in slotList7Days.centers"
                                                            ng-init="processSessionData(center)">
                                                            <td>
                                                                <h6>{{center.name}} Address: {{center.address}}
                                                                    Pin:{{center.pincode}}</h6>
                                                            </td>
                                                            <td ng-repeat="day in sevenDays">
                                                                <div class="row" ng-repeat="session in center.sessions"
                                                                    ng-if="session.date==moment(day).format('DD-MM-YYYY')">
                                                                    <div class="col-sm-12">
                                                                        <div class="panel panel-default"
                                                                            ng-if="session.available_capacity>=0">
                                                                            <h6 ng-if="session.available_capacity>0">
                                                                                <span
                                                                                    class="label label-primary">{{session.available_capacity}}</span>
                                                                            </h6>
                                                                            <h6 ng-if="session.available_capacity==0">
                                                                                <span class="label label-danger">Full
                                                                                    Booked</span>
                                                                            </h6>
                                                                            <h6>
                                                                                <span
                                                                                    class="label label-success">{{session.vaccine}}</span>
                                                                            </h6>
                                                                            <h6>
                                                                                {{center.fee_type}}</h6>
                                                                            <h6>
                                                                                {{session.min_age_limit}}+Years</h6>
                                                                        </div>
                                                                        <div class="panel panel-default"
                                                                            ng-if="!session.available_capacity && !session.vaccine">
                                                                            <h6>
                                                                                &nbsp;</h6>
                                                                            <h5>
                                                                                NA</h5>
                                                                            <h6>
                                                                                &nbsp;</h6>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </li>
                                        </ul>
                                        <!--<pre>{{slotList7DaysMaster|json}}</pre>-->
                                        <!--<pre>{{slotListToday.sessions|json}}</pre>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Initiative By Rakesh R.</h3>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

</html>